PORT=8003
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/agent
GROQ_API_KEY=
GOOGLE_API_KEY=
CHAT_SERVICE=http://localhost:8002
AUTH_SERVICE=http://localhost:8001
REDIS_URL=redis://localhost:6380
TAVILY_API_KEY=
OPENROUTER_API_KEY=
UNSPLASH_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_KEY_ID=
AWS_BUCKET_NAME=
QDRANT_API_KEY=
QDRANT_URL=